# Covid 19 Prediction

### Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Importing the dataset of confirmed cases

In [2]:
confirmed_cases = pd.read_csv("Confirmed_Cases.txt",delimiter=',')
confirmed_cases.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/2/20,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,36710,36747,36782,36829,36896,37015,37054,37054,37162,37269
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,5519,5620,5750,5889,6016,6151,6275,6411,6536,6676
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,31465,31972,32504,33055,33626,34155,34693,35160,35712,36204
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,925,937,939,939,944,955,955,955,963,963
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1199,1280,1344,1395,1483,1538,1572,1672,1679,1735

### Importing the dataset of deaths

In [3]:
deaths = pd.read_csv("Deaths.txt",delimiter=',')
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/2/20,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1284,1288,1288,1294,1298,1307,1312,1312,1328,1344
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,166,172,176,182,188,189,193,199,200,205
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1231,1239,1248,1261,1273,1282,1293,1302,1312,1322
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,52,52,52,52,52,52,52,52,52,52
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,55,58,59,62,64,67,70,75,78,80

### Importing the dataset of recoveries

In [4]:
recovered = pd.read_csv("Recovered_Cases.txt",delimiter=',')
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/2/20,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,25510,25669,25669,25742,25840,25903,25960,25960,26228,26415
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3018,3031,3031,3123,3155,3227,3268,3342,3379,3480
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,21419,21901,22375,22802,23238,23667,24083,24506,24920,25263
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,807,821,825,825,828,839,839,839,839,839
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,461,476,503,506,520,544,564,567,569,575

### EDA

#### For Confirmed cases:-

In [5]:
confirmed_cases = confirmed_cases.groupby(['Country/Region']).sum()

In [6]:
confirmed_cases.drop(['Lat','Long'],axis=1,inplace=True)

In [7]:
confirmed_cases.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,8/2/20,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,36710,36747,36782,36829,36896,37015,37054,37054,37162,37269
Albania,0,0,0,0,0,0,0,0,0,0,...,5519,5620,5750,5889,6016,6151,6275,6411,6536,6676
Algeria,0,0,0,0,0,0,0,0,0,0,...,31465,31972,32504,33055,33626,34155,34693,35160,35712,36204
Andorra,0,0,0,0,0,0,0,0,0,0,...,925,937,939,939,944,955,955,955,963,963
Angola,0,0,0,0,0,0,0,0,0,0,...,1199,1280,1344,1395,1483,1538,1572,1672,1679,1735

#### For Deaths:-

In [8]:
deaths = deaths.groupby(['Country/Region']).sum()

In [9]:
deaths.drop(['Lat','Long'],axis=1,inplace=True)

In [10]:
deaths.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,8/2/20,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,1284,1288,1288,1294,1298,1307,1312,1312,1328,1344
Albania,0,0,0,0,0,0,0,0,0,0,...,166,172,176,182,188,189,193,199,200,205
Algeria,0,0,0,0,0,0,0,0,0,0,...,1231,1239,1248,1261,1273,1282,1293,1302,1312,1322
Andorra,0,0,0,0,0,0,0,0,0,0,...,52,52,52,52,52,52,52,52,52,52
Angola,0,0,0,0,0,0,0,0,0,0,...,55,58,59,62,64,67,70,75,78,80

#### For Recoveries:-

In [11]:
recovered = recovered.groupby(['Country/Region']).sum()

In [12]:
recovered.drop(['Lat','Long'],axis=1,inplace=True)

In [13]:
recovered.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,8/2/20,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,25510,25669,25669,25742,25840,25903,25960,25960,26228,26415
Albania,0,0,0,0,0,0,0,0,0,0,...,3018,3031,3031,3123,3155,3227,3268,3342,3379,3480
Algeria,0,0,0,0,0,0,0,0,0,0,...,21419,21901,22375,22802,23238,23667,24083,24506,24920,25263
Andorra,0,0,0,0,0,0,0,0,0,0,...,807,821,825,825,828,839,839,839,839,839
Angola,0,0,0,0,0,0,0,0,0,0,...,461,476,503,506,520,544,564,567,569,575

### For Confirmed Cases:

#### Splitting the data into training and test set

In [14]:
import sklearn
from sklearn.model_selection import train_test_split


xc = confirmed_cases.drop('8/11/20',axis=1)
yc = confirmed_cases['8/11/20']

xc_train,xc_test,yc_train,yc_test = train_test_split(xc,yc,test_size=0.2,random_state=26)

#### Fitting the linear regression model

In [15]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(xc_train,yc_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### Accuracy of the model

In [16]:
lr.score(xc_test,yc_test)

0.9996513536778014

#### Predictions

In [17]:
yc_pred = lr.predict(xc_test)

In [18]:
xc_test['Actual 8/11/20'] = yc_test
xc_test['Predicted 8/11/20'] = yc_pred
xc_test.head()

C:\Users\Himanshu Agarwal\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Himanshu Agarwal\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,Actual 8/11/20,Predicted 8/11/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Pakistan,0,0,0,0,0,0,0,0,0,0,...,280461,280461,281136,281863,282645,283487,284121,284660,285191,282011.022483
Romania,0,0,0,0,0,0,0,0,0,0,...,54009,55241,56550,57895,59273,60623,61768,62547,63762,63263.410838
Kuwait,0,0,0,0,0,0,0,0,0,0,...,68299,68774,69425,70045,70727,71199,71713,72400,73068,73584.357274
Grenada,0,0,0,0,0,0,0,0,0,0,...,24,24,24,24,24,24,24,24,24,29.885395
North Macedonia,0,0,0,0,0,0,0,0,0,0,...,11128,11202,11289,11399,11554,11754,11839,11942,12083,11903.323915

### For Deaths:

#### Splitting the dataset into training and test set

In [19]:
xd = deaths.drop('8/11/20',axis=1)
yd = deaths['8/11/20']

xd_train,xd_test,yd_train,yd_test = train_test_split(xd,yd,test_size=0.2,random_state=26)

#### Fitting the linear Regression model

In [20]:
lrd = LinearRegression()
lrd.fit(xd_train,yd_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### Accuracy of the model

In [21]:
lrd.score(xd_test,yd_test)

0.9992662662222548

#### Prediction

In [22]:
yd_pred = lrd.predict(xd_test)

In [23]:
xd_test['Actual 8/11/20'] = yd_test
xd_test['Predicted 8/11/20'] = yd_pred
xd_test.head()

C:\Users\Himanshu Agarwal\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Himanshu Agarwal\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,Actual 8/11/20,Predicted 8/11/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Pakistan,0,0,0,0,0,0,0,0,0,0,...,5999,5999,6014,6035,6052,6068,6082,6097,6112,5.900223e+03
Romania,0,0,0,0,0,0,0,0,0,0,...,2432,2480,2521,2566,2616,2659,2700,2729,2764,2.805477e+03
Kuwait,0,0,0,0,0,0,0,0,0,0,...,461,465,468,469,471,474,478,482,486,5.077505e+02
Grenada,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.365130e-11
North Macedonia,0,0,0,0,0,0,0,0,0,0,...,500,505,511,517,519,523,527,528,529,5.497467e+02

### For Recoveries

#### Splitting the dataset into training and test set

In [24]:
xr = recovered.drop('8/11/20',axis=1)
yr = recovered['8/11/20']

xr_train,xr_test,yr_train,yr_test = train_test_split(xr,yr,test_size=0.2,random_state=26)

#### Fitting the Linear Regression model

In [25]:
lrr = LinearRegression()
lrr.fit(xr_train,yr_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### Accuracy of the model

In [26]:
lrr.score(xr_test,yr_test)

0.8592711612552559

#### Predictions

In [27]:
yr_pred = lrr.predict(xr_test)

In [28]:
xr_test['Actual 8/11/20'] = yr_test
xr_test['Predicted 8/11/20'] = yr_pred
xr_test.head()

C:\Users\Himanshu Agarwal\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Himanshu Agarwal\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,8/3/20,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,Actual 8/11/20,Predicted 8/11/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Pakistan,0,0,0,0,0,0,0,0,0,0,...,249397,249397,254286,256058,258099,259604,260248,260764,261246,140062.905766
Romania,0,0,0,0,0,0,0,0,0,0,...,27750,28006,28584,28992,29289,29872,30119,30311,30585,14666.311532
Kuwait,0,0,0,0,0,0,0,0,0,0,...,59739,60326,60906,61610,62330,62806,63519,64028,64759,51220.815131
Grenada,0,0,0,0,0,0,0,0,0,0,...,23,23,23,23,23,23,23,23,23,-33.038080
North Macedonia,0,0,0,0,0,0,0,0,0,0,...,6972,7108,7221,7480,7607,7622,7664,8087,8248,7958.507792

# Analysis

In [ ]:
import